* {
	margin: 0 0;
	padding: 0 0;
	font-family: sans-serif;
	font-size: 12pt;
}

body {
	text-align: center;
	background-color: #aaccaa;
}

label {
	margin-left: 10px;
}

p {
	margin: 10px;
}

table {
	margin: 10px auto;
	padding: 3px 3px 3px 3px;
}

td {
	text-align: left;
}

.row0 {
	background-color: #99bb99;
}

.row1 {
	background-color: #aaccaa;
}

.numval {
	text-align: center;
}

#header {
	width: 780px;
	height: 130px;
	background-image: url(../images/header-background.png);
}

#logo {
	width: 243px;
	float: left;
}

#date_form {
	float: right;
	clear: right;
	margin-bottom: 10px;
}

#container {
	width: 780px;
	margin: 0 auto;
	background-color: #99bb99;
	border: solid 1px #666666;
	border-top: 0px;
}

#params {
	margin-bottom: -30px;
}

.radios {
	text-align: right;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 0;
	position: relative;
	z-index: 1;
}

#graph {
	
}

#controls {
	
}

#controlscenter {
	margin: 0 200px;
	display: inline;
}

.control {
	background-color: #aaccaa;
	border: solid 1px #666666;
	padding: 3px;
	text-decoration: none;
	color: black;
}

#footer {
	font-size: 6pt;
}

.chart_title {
	font-size: 16pt;
	font-weight: bold;
	text-align: center;
}

.layout_table {
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
}
#legend_tbl {
	width: 88%;	
}

#legend_tbl td {
	padding-left: 10px;
	padding-right: 10px;
}

.legend_th {
	font-weight: bold;
}

.th_class {
	text-align: center;
	font-weight: normal;
}

.center {
	text-align: center;
}

.align_right {
	text-align: right;
}

.left {
	text-align: left;
	padding-left: 20px;
	padding-bottom: 5px;
}
select {
	text-transform: capitalize;
}
input {
	text-align: right;
}
.text_overflow {
	overflow: hidden;	
	height: 1.2em;
}
.error_panel {
	
	background-color: #f86c6c;
	width:  80%;
	border: solid red 2px;
	margin: 0 auto;
	padding: 3px;
	margin-bottom: 1em;
	
}