* {
	margin: 0 0;
	padding: 0 0;
	font-family: sans-serif;
	font-size: 12pt;
}

body {
	text-align: center;
	background-color: #aaccaa;
}

label {
	margin-left: 10px;
}

p {
	margin: 8px;
}

table {
	margin: 10px auto;
	padding: 3px 3px 3px 3px;
}

td {
	text-align: left;
}

.row0 {
	background-color: #99bb99;
}

.row1 {
	background-color: #aaccaa;
}

.numval {
	text-align: center;
}

#header {
	width: 780px;
	height: 180px;
	background-image: url('../images/header-background.png');
	background-repeat: repeat-x;
}

#conf_header {
	width: 780px;
	height: 780px;
	background-image: url('../images/header-background.png');
	background-repeat: repeat-x;
}

#logo {
	width: 243px;
	float: left;
}

#more_options {
	float: left;
	clear: left;
	margin-top: 0.2em;	
	margin-left: 1.5em;
}

#options {
	float: left;
	clear: left;
	margin-top: 0.5em;	
	margin-left: 1.5em;	
}

#successResult {
	float: left;
	clear: center;
	margin-left: 2em;				
	background-color: #99CC99;
	background-repeat: repeat-x;
	border-color: gray;
    border-width: 0.05em;
    border-style: groove;
}

#unsuccessResult {
	float: left;
	clear: center;
	margin-left: 2em;	
	background-color: #CC6666; 
	background-repeat: repeat-x;
	border-color: gray;
    border-width: 0.05em;
    border-style: groove;
	
}

#date_form {
	float: right;
	clear: right;
	margin-bottom: 10px;
	margin-right: 0.5em;
}

#fDate{
	width:1.2em;
	height:0.9em;
	border:0em;
	margin-right:0.2em;
}

#tDate{
	width:1.2em;
	height:0.9em;
	border:0em;
	margin-right:0.5em;
}

#container {
	width: 780px;
	margin: 0 auto;
	background-color: #99bb99;
	border: solid 1px #666666;
	border-top: 0px;
}

#conf_container {
	width: 780px;
	margin: 0 auto;
	background-color: #99bb99;
	border: solid 1px #666666;
	border-top: 0px;
}

#params {
	margin-bottom: -30px;
}

.radios {
	text-align: right;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 0;
	position: relative;
	z-index: 1;
}

#graph {
	
}

#controls {
	
}

#controlscenter {
	margin: 0 200px;
	display: inline;
}

.control {
	background-color: #aaccaa;
	border: solid 1px #666666;
	padding: 3px;
	text-decoration: none;
	color: black;
}

#footer {
	font-size: 6pt;
}

.chart_title {
	font-size: 16pt;
	font-weight: bold;
	text-align: center;
}

.layout_table {
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
}

.scroll_table {
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
}

.scroll_table td {
	text-align: center;
}


#legend_tbl {
	width: 88%;	
}

#legend_tbl td {
	padding-left: 10px;
	padding-right: 10px;
}

#scrolltable {
    margin-top: 1.5em;
	overflow:auto;
    padding-right: 0.005em; padding-left: 8em; padding-bottom: 0.05em;
    scrollbar-arrow-color : #999999; scrollbar-face-color : #666666;
    scrollbar-track-color :#3333333 ; position: absolute;
    left: 100; top: 10; width: 50%; height:10.66em
}

#uoptions {
	float: left;
	clear: left;
	margin-top: 13em;	
	margin-left: 9em;	
}

#config{
	height: 18em;
	width: 100%;	
}

#conf_form {
	float: left;
	clear: left;
	margin-top: 1em;
	width: 100%;	
}

.change {
	font-size: 10pt;
}

.legend_th {
	font-weight: bold;
}

.th_class {
	text-align: center;
	font-weight: normal;
}

.center {
	text-align: center;
}

.align_right {
	text-align: right;
}

.left {
	text-align: left;
	padding-left: 20px;
	padding-bottom: 5px;
	padding-right: 20px;
}
select {
	text-transform: capitalize;
}
input {
	text-align: right;
}
.text_overflow {
	overflow: hidden;	
	height: 1.2em;
}
.error_panel {	
	background-color: #f86c6c;
	width:  80%;
	border: solid red 2px;
	margin: 0 auto;
	padding: 3px;
	margin-bottom: 1em;
	text-align: left;
}
