<!DOCTYPE web-app PUBLIC
  '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN'
  'http://java.sun.com/dtd/web-app_2_3.dtd'>

<web-app>
	<servlet>
		<servlet-name>graphservlet</servlet-name>
		<servlet-class>org.aptivate.bmotools.pmgraph.GraphServlet</servlet-class></servlet>
	<servlet-mapping>
		<servlet-name>graphservlet</servlet-name>
		<url-pattern>/graphservlet</url-pattern></servlet-mapping></web-app>
