* {
position:relative;
margin:0;
padding:0;
}

body {
font-family:'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
padding:0 10px;
}

h2 {
background-color:#05A;
border:1px #000 solid;
font-weight:700;
color:#FFF;
font-size:1.2em;
margin-bottom:.5em;
clear:both;
white-space:nowrap;
padding:.1em .4em .2em .8em;
}

h2 a:hover {
font-weight:700;
color:#0091d0;
text-decoration:none;
}

h3 {
font-size:1.2em;
font-weight:700;
clear:left;
margin:.8em .25em;
}

h4 {
font-size:1em;
font-weight:700;
margin:.5em 1em -.5em;
}

h4#section-Home-AptivateIsANonProfitNGOThatProvidesITServicesForInternationalDevelopment {
margin-top:1em;
}

h4 img.inline {
margin:0 1em 1em 0;
}

pre {
font-family:monospace;
font-size:1.25em;
}

p {
margin:0.5em 1em 1em;
}

a {
color:#05a;
text-decoration:underline;
}

a:visited {
color:#95A;
text-decoration:underline;
}

a:hover {
text-decoration:underline;
}

a img {
border:1px #FFF solid;
}

strong {
font-weight:700;
font-style:normal;
}

ul,ol {
list-style:outside;
margin:0.5em 1em 1em 2em;
}

li {
margin-left:1em;
}

dl {
margin:0.5em 1em 1.5em 2em;
}

dt {
margin-right:1em;
font-weight:700;
}

dd {
margin:0.5em 0 0.5em 2em;
}

hr {
border:none;
border-top:1px #05a solid;
clear:both;
width:100%;
height:1px; /* for IE */	
}

table {
border:1px #000 solid;
margin:1em 2em;
}

td {
vertical-align:middle;
text-align:center;
border-bottom:1px #000 solid;
padding:0.5em 1em;
}

th {
color:#FFF;
font-weight:700;
vertical-align:middle;
text-align:center;
background:#05A;
border-bottom:1px #000 solid;
padding:0.5em 1em;
}

img {
float:left;
clear:left;
margin:0.5em 10px 10px 0;
}

div.indent img {
padding-left:10px;
}

div.indent {
margin-left:70px;
}

div.indent .left img,div.indent hr {
margin-left:-70px;
}

div.leftColumn {
float:left;
width:49.5%;
}

div.rightColumn {
float:right;
width:49.5%;
}

div.mainColumn {
width:78.5%;
float:right;
}

div.frame,div.leftColumn,div.rightColumn {
overflow:hidden;
margin:0;
}

div.frame h2,div.leftColumn h2,div.rightColumn h2 {
text-align:center;
}

div.frame {
clear:both;
}

div.navigation {
float:left;
width: 20%;
border:1px #000 solid;
border-top:none;
margin:0 0.5% 1em 0;
}

div.navigation h2 {
border:none;
border-top:1px #000 solid;
text-align:left;
margin:0;
padding-left:.6em;
white-space:normal;
}

div.navigation ul {
list-style:none;
position:relative;
margin:0;
padding:0;
}

div.navigation li {
border-top:1px #000 solid;
display:block;
position:relative;
line-height:0;
margin:0;
padding:0;
text-indent:0em;
/* _text-indent:-1.25em; /* IE alignment problems */
}

div.navigation li a {
font-weight:700;
position:relative;
display:block;
line-height:1em;
text-decoration:none;
margin:0;
padding:5px 10px;
}

div.navigation li a:hover {
background:#0091d0;
color:#FFF;
text-decoration:none;
padding:5px 10px;
}

div.navigation li a:visited {
text-decoration:none;
}

div.homeHeader {
margin-top:-20px;
margin-left:0;
margin-bottom:0;
overflow:hidden;
}

div.homeHeader img {
margin-top:10px;
margin-left:-10px;
margin-bottom:0;
}

div.newsNext {
float:left;
clear:none;
width:100%;
padding-bottom:1em;
text-align:right;
}

div.newsHome {
float:left;
clear:none;
width:66%;
text-align:center;
}

div.newsPrevious {
float:left;
clear:none;
width:50%;
text-align:left;
}

div.panel {
border:1px #000 solid;
background:#05A;
color:#FFF;
font-size:1.2em;
text-align:center;
overflow:hidden;
margin:0 0 10px;
padding:0;
}

div.panel h2 {
border:none;
font-size:large;
font-style:italic;
white-space:normal;
}

div.panel a:hover {
color:#0091d0;
}

div.panel * {
margin:5px;
}

.error {
font-weight:700;
font-style:italic;
color:#05A;
margin:1em;
}

.right {
float:right;
clear:right;
margin-left:10px;
margin-bottom:10px;
}

.left {
clear:left;
float:none;
margin-top:0;
margin-right:10px;
margin-bottom:10px;
}

.none {
float:none;
margin:0;
}

div.quote {
margin-left:1em;
margin-top:1em;
margin-bottom:1em;
font-style:italic;
}

div.byline {
margin-left:1em;
margin-bottom:1em;
font-weight:700;
}

.inline {
margin:1em;
}

.inline * {
display:inline;
}

.inline img {
float:none;
vertical-align:text-bottom;
}

label {
display:block;
font-size:1em;
color:#05A;
margin:1em 2em;
}

input,select {
border:1px #000 solid;
display:block;
font-size:1em;
width:15em;
max-width:75%;
margin-top:2px;
padding:2px;
}

input.unstyled {
border:none;
width:auto;
display:inline;
padding:0;
}

input[type=submit] {
background-color:#05A;
color:#FFF;
font-weight:700;
width:auto;
}

input[type=submit]:hover {
background-color:#0091d0;
}

input[type=submit]:active {
background-color:#FFF;
color:#000;
}

textarea {
border:none;
display:block;
font-size:1em;
width:30em;
height:15em;
max-width:75%;
overflow:auto;
margin-top:2px;
font-family:monospace;
padding:2px;
}

textarea.editor {
height:40em;
width:90%;
max-width:90%;
}

#container {
font-size:0.8em;
min-width:40em;
max-width:70em;
text-align:left;
margin:0 auto;
}

#header {
height:76px;
overflow:visible;
}

h1 img {
display:block;
position:absolute;
border:1px #FFF solid;
padding-top:0;
float:none;
z-index:75;
margin:0;
}

#pageActions {
position:absolute;
top:0;
right:0;
left:250px;
bottom:0;
list-style:none;
margin:0;
}

#pageActions li {
float:right;
margin:5px 10px;
}

#pageActions li a {
color:#05A;
display:block;
white-space:nowrap;
z-index:100;
}

#navigation {
position:absolute;
left:0;
width:100%;
bottom:0;
list-style:none;
border-bottom:1px #000 solid;
z-index:100;
margin:0;
}

#navigation li {
float:right;
margin:0.6em 0.6em 0 0;
}

#navigation li a {
font-weight:700;
float:left;
color:#FFF;
border:1px #000 solid;
position:relative;
bottom:-1px;
white-space:nowrap;
background-color:#05A;
text-align:center;
text-decoration:none;
z-index:100;
padding:0.3em 0.6em;
}

#navigation li a.here,#navigation li a.here:hover {
color:#000;
position:relative;
border-bottom:1px #FFF solid;
background-color:#FFF;
}

#navigation li a:hover {
color:#FFF;
background-color:#0091d0;
}

#content {
border-bottom:1px #000 solid;
border-left:1px #000 solid;
border-right:1px #000 solid;
margin-top:-1px;
overflow:hidden;
padding:10px 10px 0;
}

#pageInfo {
border:1px #05A solid;
margin-top:10px;
padding:10px;
}

#preview {
border:2px #05A dashed;
overflow:hidden;
margin:1em 1em 2em;
padding:10px;
}

#footer {
text-align:center;
font-size:1em;
padding:10px;
}

#footer p {
margin:0 0 0.5em;
}

#footer ul li {
display:inline;
border-left:1px #000 solid;
padding-left:1em;
margin-left:1em;
}

#footer li.nobullet {
border-left:none;
}

h2 a,h2 a:visited {
font-weight:700;
color:#FFF;
text-decoration:none;
}

li,form {
font-size:1em;
}

th a,div.panel a {
color:#FFF;
}

input[type=hidden],img[src="images/attachment_small.png"] {
display:none;
}

input:hover,input:focus,select:hover,select:focus,textArea:hover,textArea:focus {
border:2px #000 solid;
padding:1px;
}

h1,h1 a {
float:left;
}
